# Ignore node_modules
node_modules/

# Ignore environment variables file
.env
.package-lock.json

# Ignore log files
*.log

# Ignore dependency directories
npm-debug.log
yarn-error.log

# Ignore IDE files
.vscode/
.idea/

# Ignore build output
/build/

# Ignore OS-specific files
.DS_Store
Thumbs.db
